/* Error pages styles
 * Written by Georgi D. Sotirov
 *
 * Media: screen, print, projection
 */

@media screen, print {
  body {
    background: #fff url(/img/back) repeat-x;
    font-family: Helvetica, Arial, sans-serif;
  }

  div#GoogleLogo {
    float: left;
    margin: 0 1em;
  }

  footer {
    clear: left;
    text-align: center;
  }

  img {
    border: none;
  }

  section h2 {
    font-weight: normal;
  }

  .generated {
    color: #ccc;
    font-size: xx-small;
  }

  .align_left {
    text-align: left;
  }
  
  .align_center {
    text-align: center;
  }
  
  .align_right {
    text-align: right;
  }
  
  .align_justify {
    text-align: justify;
  }
}

